.clientForm {
  width: 50%;
  padding: 0 20px;
  border-right: 1px solid red;
}
.ingredientBlock{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.formIngredient {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.formIngredient p {
  margin-left: 30px;
}

.formIngredient img {
  max-width: 100%;
  height: auto;
  width: 150px;
}
.ingredientBlock button{
  background: none;
  outline: none;
  border: none;
}